<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-4 col-xs-push-4 post">
    <h1> Users List</h1>

  <div class="row list_wrapper">
    <% @users.each do |post| %>
      <div class="row list-head">
        <div class="col-xs-2 thumb-img list">
          <%= image_tag user.icon.url(:thumb), class: 'img-responsive img-circle' %>
        </div>
        <div class="col-xs-10 user-info">
          <h3>
            <small><strong> <%= link_to "#{user.id}", user_path(user.id) %> </strong></small>
          </h3>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 link">
        <%= link_to posts_path %><h3>Return to Home</h3>
      </div>
    </div>

  </div>
 </div>
</div>

<div class="row">
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
</div>
