<div class="row">
  <div class="col-xs-8 col-xs-push-2 welcome">
    <h1>Instagram I am here</h1>
    <hr>
    <% if !logged_in? %>
      <p><%= link_to 'Login', new_session_path %></p>
      <p><%= link_to 'Join Us', new_user_path %></p>
    <% else %>
      <p><%= link_to 'New Post', new_post_url %></p>
    <% end %>
  </div>
</div>
