<h1> Inquiry completed </h1>
<h4> Confirmation of iquiry details ..</h4>
<table>
  <tbody>
    <td><%= @post.post %></td>
    <td><%= image_tag(@post.image.url) %></td>
    <td><%= @post.user.name %></td>
  </tbody>
</table>
