html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #333;
  font-size: 13px;
  background-color: lightgray;
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  font-size: 1.5rem;
}
header {
  width: 100%;
  background-color: white;
  font-style: italic;
  length: 100%;
  display: flex;
  word-spacing: 2rem;
  padding: 10px;
  font-weight: bold;
  margin-right: 0;
}
.headbook {
  overflow: scroll;
  height: 600px;
}
article {

}
.post {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: white;
  border: solid;
}
.icon {

}
.image{

}
aside{

}
footer {
  width: 100%;
  background-color: purple;
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: black;

  &:hover {
    color: gray;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
